h1 {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#F89406;
}

.site-header {
	background-color: #E1E1E8
}

.helpScreenCell{margin-top: 10px; margin-left: 10px; margin-right: 10px}
/*.helpScreenCell{margin-left: -100px; margin-right: -100px}*/
.helpScreenImg{
	width: 100%;
}

.videoCell{margin-top: 32px; margin-left:0px; margin-right: 0px}
.videoPlayer{
	width: 100%;
	height: 637px;
}

.dialog-width-full {
    width: 960px!important;
 }

.centered{text-align:center;}
