.DS_Store
/build/
xcuserdata
*.swp
*~.nib

UserInterfaceState.xcuserstate
*.xcscmblueprint
*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

SqueakDebug.log
scratchthumbs.db

# AI
spec/
.serena/

