[submodule "Frameworks/MIKMIDI"]
	path = Frameworks/MIKMIDI
	url = https://github.com/mumez/MIKMIDI.git
[submodule "Frameworks/SDCAlertView"]
	path = Frameworks/SDCAlertView
	url = https://github.com/sberrevoets/SDCAlertView.git
