<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Pyonkee</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Keyboard</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>spaceRepeats_preference</string>
			<key>Title</key>
			<string>Space key repeats</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Memory: 40 to 400 MB</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string>Memory Size</string>
			<key>Key</key>
			<string>memorySize_preference</string>
			<key>DefaultValue</key>
			<integer>167772160</integer>
			<key>MinimumValue</key>
			<integer>41943040</integer>
			<key>MaximumValue</key>
			<integer>419430400</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Inbox max items: 100 to 1000</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string>Max number of items in Inbox</string>
			<key>Key</key>
			<string>inboxMaxNumOfItems_preference</string>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>100</integer>
			<key>MaximumValue</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MIDI</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>Use Virtual MIDI</string>
			<key>Key</key>
			<string>useVirtualMIDI_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>2.28</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>sbVersion</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>sbBuild</string>
		</dict>
	</array>
</dict>
</plist>
